@import '../../assets/scss/index';

.movie-card {
  align-items: flex-start;
  background-color: $white;
  height: 95vh;
  justify-content: flex-start;
  width: -webkit-fill-available;

  .title-section {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px 8px;
    width: -webkit-fill-available;

    .title {
      color: #202020;
      font-size: 16px;
      font-weight: 700;
      line-height: 100%;
    }
  }

  .list-section {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
    overflow: scroll;
    width: 100%;

    &::-webkit-scrollbar {
      -ms-overflow-style: none;
      display: none;
      scrollbar-width: none;
    }

    table {
      border: 0;
      border-collapse: collapse;
      height: auto;
      margin: 0;
      overflow: scroll;
      padding: 0;
      table-layout: fixed;
      width: -webkit-fill-available;

      tr {
        border: 0;
        cursor: pointer;
        padding: 0;

        .form-control {
          align-items: center;
          background-color: hsl(0, 0%, 100%);
          border-color: hsl(0, 0%, 80%);
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          box-sizing: border-box;
          cursor: default;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          min-height: 38px;
          outline: 0 !important;
          padding: 0 8px;
          position: relative;
          width: 300px;
        }
      }

      th {
        border: 0;
        color: $gray-scale-1;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: .1em;
        line-height: 100%;
        padding: 8px;
        text-align: left;
        text-transform: Capitalize;

        &.rank {
          text-align: right;
          width: 30px;
        }

        &.title {
          width: auto;
        }

        &.votes {
          width: 104px;
        }

        &.year {
          width: 50px;
        }

        &.runtime {
          width: 70px;
        }

        &.revenue {
          padding-left: 28px;
          width: 75px;
        }

        &.rating {
          width: 50px;
        }
      }

      tbody {
        tr {
          &:nth-child(2n) {
            background-color: #d6d6d6;
          }

          td {
            box-shadow: inset 0 -1px 0 #f0f0f0;
            color: $gray;
            font-size: 12px;
            height: 48px;
            line-height: 100%;
            padding: 0 8px;

            &.rank {
              color: $gray-scale-1;
              font-size: 11px;
              line-height: 100%;
              text-align: right;
            }

            .name {
              text-decoration-line: underline;
            }

            &.revenue {
              font-weight: bold;
              padding: 0 18px;
              text-align: right;
            }

            &.rating {
              font-weight: bold;
              text-align: center;
            }

            &.genres {
              align-items: center;
              display: flex;
            }
          }
        }
      }
    }
  }

  .row-counter {
    background: #f2f2f2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 1px;
    padding: 5px 16px;
    width: -webkit-fill-available;

    .row-counter_text {
      color: #bdbdbd;
      font-size: 13px;
      line-height: 100%;
    }
  }
}


@media only screen and (max-width: 768px) {
  .movie-card {
    background-color: transparent;
    height: fit-content;

    .list-section {
      overflow: scroll;
      width: 100%;

      table {
        border: 0;
        height: fit-content;

        thead {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        tr {
          background-color: $white;
          border: 0;
          border-radius: 8px;
          display: block;
          margin-bottom: 10px;
          padding: 0;
        }

        th {
          border: 0;
          box-shadow: none;
          color: $gray-scale-2;
          font-size: 11px;
        }

        tbody {

          td::before {
            content: attr(data-label);
            float: left;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
          }

          td {
            border: 1px solid #f0f0f0;
            border-collapse: collapse;
            box-shadow: none;
            color: $gray-scale-1;
            display: block;
            font-size: 11px;
            height: fit-content;
            padding: 10px 8px;
            text-align: right;

            &:last-child {
              border: 0;
            }

            &:first-child {
              border-left: 0;
              border-right: 0;
              border-top: 0;
            }
          }
        }
      }
    }
  }
}
